.amarelo-dourado{
    background-color:#FFDE46;
    color: #241F0A;
    padding: 20px;
}

.espaco-texto{
    margin: 50px 0;
    padding: 10px;
}

footer{
    background-color:#241F0A;
    color: #FFDE46;
    padding: 20px 10px;
}

.div-footer{
    padding: 10px ;
}

#cards{
    padding: 50px 0 ;
}

.nav-link{
    color: #241F0A;
    font-weight: 700;
}

.nav-link:hover{
    color: white;
    font-weight: 700;
}

#container {
    display: inline-block;
    position: relative;
  }
  
  #container figcaption {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: black;
    text-shadow: 0px 0px 5px black;
  }